@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Lora&family=Montserrat&display=swap');

body {
    background-color: #B6AC97;
    font-family: 'Lora', serif;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
}

nav, .btn, .dishNameList {
    background-color: #392C1E;
}

.btn:hover, .descText, .dishName {
    background-color: #906417;
}

.btn, .dishCard, .dishName {
    color: white;
}

.btn:hover, .descText, .dishCard, .dishName {
    border: 1px solid #392C1E;
}

.btn {
    font-family: 'Hind Madurai', sans-serif;
    border: 1px solid #906417;
}

.descBox {
    height: 170px;
}

.dishCard {
    border-radius: 2px;
}

.dishName {
    border-radius: 3px 3px 0 0;
    /* Les images utilsées ont une largeur de 320Px */
    /* + 2px pour ajuster les bordures */
    width: 322px;
}

@media screen and (min-width : 756px) {
    .descBox {
        height: 190px;  
    }
}

@media screen and (min-width : 1512px) {
    .descBox {
        height: 140px;  
    }
}