@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Lora&family=Montserrat&display=swap');

body {
    background-color: #B6AC97;
    font-family: 'Lora', serif;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
}

nav, .footer, .btn, .dishNameList, .dishName {
    background-color: #392C1E;
}

.descText {
    background-color: #7c653e;
}

.btn:hover, #toTheTop {
    background-color: #906417;
}

.footer, .btn, .dishCard, .dishName, #toTheTop {
    color: white;
}

.allergenBtn:hover {
    color: #392C1E;
}

.allergenBtn, .footer {
    font-size: smaller;
}

.btn:hover, .descText, .dishCard, .dishName {
    border: 1px solid #392C1E;
}

.btn {
    font-family: 'Hind Madurai', sans-serif;
}

.descBox {
    height: 170px;
}

.dishCard {
    border-radius: 2px;
}

.dishName {
    border-radius: 3px 3px 0 0;
    width: 322px;
}

.dishPreview {
    max-height: 80px;
}

#toTheTop {
    position: fixed;
    right: 15px;
    bottom: 5px;
    border-radius: 150px;
    z-index: 1031
}

.welcomePreview {
    height: 215px;
    width: 322px;
    object-fit: fill;
}

@media screen and (min-width : 756px) {
    .descBox {
        height: 190px;  
    }
}

@media screen and (min-width : 1512px) {
    .descBox {
        height: 140px;  
    }
}