{% extends "base.html.twig" %}

{% block title %}Liste des plats{% endblock %}

{% block body %}

  <div class="text-center text-light bg-success">
    {% for flashMessage in app.session.flashbag.get('success') %}
      {{ flashMessage}}
    {% endfor %}
  </div>

  <div class="container-fluid">

    <h1 class="text-center my-5">Au menu</h1>

      <h2 class="text-center">Entrées</h2>

        <section class="my-5">
          <div class="row justify-content-center">
            {% for dish in dishes %}
            {% if dish.category == "Entrée" %}
              {% include "dish/listComp.html.twig"%}
            {% endif %}  
            {% endfor %}
          </div>
        </section>

      <h2 class="text-center">Plats</h2>

        <section class="my-5">
          <div class="row justify-content-center">
            {% for dish in dishes %}
            {% if dish.category == "Plat" %}
              {% include "dish/listComp.html.twig"%}
            {% endif %}  
            {% endfor %}
          </div>
        </section>

      <h2 class="text-center">Desserts</h2>

        <section class="my-5">
          <div class="row justify-content-center">
            {% for dish in dishes %}
            {% if dish.category == "Dessert" %}
              {% include "dish/listComp.html.twig"%}
            {% endif %}  
            {% endfor %}
          </div>
        </section>

      <h2 class="text-center">Vins</h2>

        <section class="my-5">
          <div class="row justify-content-center">
            {% for dish in dishes %}
            {% if dish.category == "Vin" %}
              {% include "dish/listComp.html.twig"%}
            {% endif %}  
            {% endfor %}
          </div>
        </section>

      <h2 class="text-center">Boissons</h2>

        <section class="my-5">
          <div class="row justify-content-center">
            {% for dish in dishes %}
            {% if dish.category == "Boisson" %}
              {% include "dish/listComp.html.twig"%}
            {% endif %}  
            {% endfor %}
          </div>
        </section>

  </div>


{% endblock %}