                {# Modal allergènes #}
                <div id="allergenModal{{ dish.id }}" class="modal" tabindex="-1">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title text-dark">Allergènes</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="row mx-0 bg-light">
                        {% if dish.getAllergen|length > 0 %}
                          {% for allergen in dish.getAllergen %}
                            <div class="col-12 col-lg-6 text-danger">
                              {{ allergen.ingredient}}
                            </div>
                          {% endfor %}
                        {% else %}
                            <div class="col text-dark">
                              Pas d'allergènes pour ce plat.
                            </div>
                        {% endif %}
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                      </div>
                    </div>
                  </div>
                </div>