{% extends "base.html.twig" %}

{% block body %}

    <section class="my-5">
    <div class="row mx-auto justify-content-center">
      {% for dish in dishes %}
      {% if dish.name == "Gloubiboulga" %}
      <div class="col-md-6 col-xl-4"> 
        <div class="row text-center mb-3">
          <div class="col-12"> {{ dish.name}} </div>
          <div class="col-12">
              <img src="{{ selectedPhotos[dish.id].path }}" alt="nope">
          </div>
        </div>
      </div>
      {% endif %}  
      {% endfor %}
    </div>

    <div class="row mx-auto justify-content-center">
      {% for dish in dishes %}
      {% if dish.name == "Kloug" %}
      <div class="col-md-6 col-xl-4"> 
        <div class="row text-center mb-3">
          <div class="col-12"> {{ dish.name}} </div>
          <div class="col-12">
              <img src="{{ selectedPhotos[dish.id].path }}" alt="nope">
          </div>
        </div>
      </div>
      {% endif %}  
      {% endfor %}
    </div>
  </section>

{% endblock %}